.back-button {
  margin: 30px 0 0 20px;
  border-radius: 8px;
  width: 100px;
}

.post-more-container {
  display: flex;
  flex-direction: column;

  padding: 20px 20px 0;
}

.post-more-question-block {
}

.post-more-comments-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-more-title {
  text-align: center;
}

.post-more-descr {

}

.post-more-comment-container {
  padding-top: 30px;
  width: 100%;
}

.newPost-text {
  width: 100%;
}

.submit-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  width: 20%;
}
