<button class="back-button" mat-flat-button color="accent" (click)="routeBack()">Back</button>
<div class="post-more-container">
  <div class="post-more-question-block">
    <h2 class="post-more-title">{{this.post.title}}</h2>
    <p class="post-more-descr">
      {{this.post.postText}}
    </p>
    <p class="post-more-descr">Technology: {{this.post.tech}}</p>
  </div>
  <p *ngIf="this.post?.comments?.length; else elseBlock" class="post-more-comments-title">Answers</p>
  <ng-template #elseBlock>
    <p class="post-more-comments-title">There are no answers</p>
  </ng-template>
  <app-comments *ngFor="let comment of this.post.comments" [comment]="comment"></app-comments>
  <form [formGroup]="newCommentForm" class="post-more-comment-container" (ngSubmit)="setNewComment($event)">
    <p class="answer-title">Your answer</p>
    <mat-form-field class="newPost-text">
    <textarea
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      formControlName="answer"
      matInput
      placeholder="Answer">
    </textarea>
    </mat-form-field>
    <div class="submit-button-wrapper">
      <button class="submit-button" mat-flat-button color="primary">Submit</button>
    </div>
  </form>
</div>
