.post-container {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  background-color: #323259;
  color: white;
  border-radius: 30px;
}

.post-title {
  text-align: center;
}

.post-columns__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
